body {
	font-family: verdana;
	font-size: 0.7em;
}

#table {
	border: 0px;
	border-collapse:  collapse;
	margin: 0px;
	padding: 0px;
}

td {
	vertical-align: top;
	text-align: right;
}

#canvasSpan {
	border:3px solid black; 
	display:inline-block;
}

#canvasWidthInput, #canvasHeightInput {
	width: 35px;
}

#moveButton, #resetButton, #gridButton {
	width:120px;
}

#debugConsole {
	font-family: sans-serif;
	text-align:left;
	border: 1px solid black;
	background-color: gray;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: white;
	width:754px;
	min-height: 300px;
}
